.find-charger-container{
    padding: 2% 0 0;
  }
  
  .step-box {
    height: 100vh;
    /* margin-top: 5%;
    padding-left: 5%; */
  }
  
.step-box-grey{
  background: rgba(250, 249, 249, 1);
}

  #step-two {

    background: rgb(241, 196, 15);
    background: linear-gradient(
      225deg,
      rgba(241, 196, 15, 1) 60%,
      rgba(243, 172, 18, 1) 100%
   );
  }


  .step-head {
    padding: 15% 5%;
    position:static;
    /* padding-left: 5%; */
  }
  
  #map {
      /* height: 100vh; */
      background-color: #fff;
  }
  
  #calculator{
    /* padding: 5% 10% 0 10%; */
    padding: 5% 15% 0 15%;
    background-color: #fff;
  }
  .calculator-container {
    width: 350px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(15, 15, 15, 0.28);
    position: relative;
    overflow: hidden;
    }
  
  .calculator-inner-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15%

  }

  .calculated-time{
    padding-top: 10%;
    line-height: 70%;
    font-weight: 500;
    font-size:large;
  }

  .hours {
    font-size:x-large;
    color: rgba(0, 150, 255, 1);
  }

  .find-restaurant{
    background-color: #fff;
    padding: 5% 15% 0;
  }

  .restaurant-map{
    padding: 2%;
  }

  label.restaurant-map{
    font-weight: 500;
  }

  .restaurant-details{
    padding-left: 5.5%;
  }

  .overview-container{
    padding: 2% 2% 0 ;
  }

  #overview-header {
    height: 100vh;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    /* background: rgb(241, 196, 15);
    background: linear-gradient(
      225deg,
      rgba(241, 196, 15, 1) 60%,
      rgba(243, 172, 18, 1) 100%
   ); */
  }

  #overview-details{
  margin-left: 5%;
  background-color: rgba(255,255,255, 0.87);
  position: relative;
  z-index: 1;
  padding: 5%;
  border-radius: 25px;
  height: 60vh;
  width: 90%;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.28);

  }
  
