.find-charger-container{
    padding: 2% 0 0;
  }

  .blue-text{
    color:rgba(0, 150, 255, 1);
    font-weight: 600;
  }

  .white-text{
    color: #fff;
    font-weight: 600;
  }
  
.inner-step-head{
  /* background-color: rgba(255,255,255, 0.87);
  position: relative;
  z-index: 1;
  padding: 5%;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.28); */

}

  .step-box {
    height: 100vh;
    /* margin-top: 5%;
    padding-left: 5%; */
  }
  
.step-box-grey{
  background: rgba(250, 249, 249, 1);
}

.fa-bolt {
  color:rgba(0, 150, 255, 1);
  display: static;
  position: relative;
  align-items: left;
  justify-content: left;
  flex-direction: row;
  width: 26px;
  margin: 0;
  padding-right: 5%;
}


  #step-two {

    background: rgb(241, 196, 15);
    background: linear-gradient(
      225deg,
      rgba(241, 196, 15, 1) 60%,
      rgba(243, 172, 18, 1) 100%
   );
  }


  .step-head {
    padding: 15% 5%;
    position:relative;
    /* padding-left: 5%; */
  }

  .step-head-gold{
    /* position:relative; */
  }
  
  #map {
      /* height: 100vh; */
      background-color: #fff;
  }

 .infobox-text {
   /* line-height: .7rem; */

 }
 .infobox-header{
   line-height: .7rem;
   font-size: medium;
 }
 .selected-charger-header{
   font-size: large;
   text-decoration: underline;
 }
  .station-name{
    color:rgba(0, 150, 255, 1);
  }
.charger-info{
  padding-left: 5%;
}

.selected-charger{
  padding-top: 5%;
  background-color: rgba(255,255,255, 0.87);
  position: relative;
  z-index: 1;
  padding: 5%;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.28);
}

  #calculator{
    /* padding: 5% 10% 0 10%; */
    padding: 3% 15% 0 20%;
    background-color: #fff;
  }
  .calculator-container {
    width: 350px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(15, 15, 15, 0.28);
    position: relative;
    overflow: hidden;
    }
  
  .calculator-inner-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15%

  }

  .calculated-time{
    padding-top: 10%;
    line-height: 70%;
    font-weight: 500;
    font-size:large;
  }

  .hours {
    font-size:x-large;
    color: rgba(0, 150, 255, 1);
  }

  
  #rest-name{
    font-size:x-large;
    color: rgba(0, 150, 255, 1);
  }

  #stat-name{
    font-size:x-large;
    color: rgba(0, 150, 255, 1);
  }

  .find-restaurant{
    background-color: #fff;
    padding: 5% 15% 0;
  }

  .restaurant-name{
    padding: 2%;
    font-size: large;
  }

  label.restaurant-map{
    font-weight: 500;
  }

  .restaurant-details{
    padding-left: 5.5%;
  }

  .overview-container{
    padding: 2% 2% 0 ;
  }

  #overview-header {
    height: 100vh;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 5%;
    background-size: cover;
    /* background: rgb(241, 196, 15);
    background: linear-gradient(
      225deg,
      rgba(241, 196, 15, 1) 60%,
      rgba(243, 172, 18, 1) 100%
   ); */
  }

  #overview-details{
  margin: auto;
  /* margin-left: 5%; */
  background-color: rgba(255,255,255, 0.87);
  position: relative;
  z-index: 1;
  padding: 5%;
  border-radius: 25px;
  min-height: fit-content;
  width: 90%;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.28);

  }
  
