#root {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

a {
  color:#666666 !important;
}

a:hover {
  color:rgb(243, 172, 18) !important;
}

.btn-outline-secondary:hover{
  background-color:rgba(243, 172, 18, 1) !important;
}

/* NavBar */

.navbar {
  padding-top: 1.5rem;
}

/* Homepage */

.tagline {
  size: 2rem;
  font-weight: 500;
}

#home-banner {
  height: 65vh;
  margin: 0;
  background: url(https://images.unsplash.com/photo-1593941707874-ef25b8b4a92b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80) no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

#logo-header{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 0%;

}


#steps {
  position: relative;
  z-index: 1;
  padding: 2% 10% 10%;
}

.step-home{
  padding: 0% 10%;
}

.steps-header{
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.step-title {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 5%;
  text-align: center;

}
.step-text{
  display: flex;
  text-align: center;
}

.fas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:rgba(243, 172, 18, 1);
  padding-top: 15%;

}

.get-started-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Find Charger Page */

.step-box {
  height: 100vh;
}

#map {
    height: 100%;
}
.loading-image{
    width: 40%;
}

.loading-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  
  .loading-box img {
    display: block;
    max-height: 100px;
    margin: auto;
    /* animation: bounce 1s infinite; */
  }
  
  .loading-box div {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  }


  /* LOGIN/REGISTER FORM */

 .account-div{
   padding: 2% 40%;
 }

  .account-container {
  width: 350px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  border-radius: 19px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);
  position: relative;
  overflow: hidden;
  }

  .account-top-container{
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 1.8em;
  padding-bottom: 6em;
  }

  .account-backdrop{
  width: 150%;
  height: 550px;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  transform: rotate(180deg);
  top: -323px;
  left: -90px;
  background: rgb(241, 196, 15);
  background: linear-gradient(
    58deg,
    rgba(241, 196, 15, 1) 20%,
    rgba(243, 172, 18, 1) 100%
  );
  }

.account-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.account-header-text {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.24;
  color: #fff;
  z-index: 10;
  margin: 0;
}

.account-small-text{
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  z-index: 10;
  margin: 0;
  margin-top: 7px;
}

.account-inner-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1.8em;
}

/* ABOUT PAGE */
.logo-box{
  height: 100px;
}