<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
  <body>
      <nav>
        <a href="/">Home</a>
        <a href="/find-charger">Find Charger</a>
        <a href="/add-station">Add Station</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/profile">Profile</a>
      </nav>
    {% block body %}{% endblock %}

  </body>
</html>